# Node modules (huge files, should not be committed)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files (generated, not needed in Git)
dist/
build/

# Environment variables (sensitive data)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor & OS-specific files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs & cache
logs/
*.log
pids/
.cache/
